*{
    margin: 0%;
    padding: 0%;
    box-sizing: 0%;
}

body{
    background-image:url(still-life-space-assortment-with-astronaut.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

h1{ font-size: 60px;
    margin-left: 525px ;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    font-family:'Chakra Petch',sans-serif;
}

.tudo{
    width: 50vw;
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 350px ;
}

.caixa{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px;
    background-color: rgba(219, 222, 223, 0.103);
    border-radius: 50px;
    box-shadow: 10px 10px 10px 8px rgba(75, 73, 73, 0.336);

}
input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;
    border-radius: 10px;
    width:100%;
    padding: 15px;
    background-color: rgba(211, 209, 209, 0.247);
    cursor:pointer;
}

label{
   display: flex;
   align-items: center;
   
}

.text-field{
  
    padding: 20px;
    font-family:'Chakra Petch',sans-serif;
    color: rgb(0, 0, 0);
}

.container{
    margin-top: 30px;
    margin-left: 580px ;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container{
    margin-left: 60px ;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    
}
button{
    text-decoration: none;
    padding: 20px;
    margin-top: 30px;
    margin-left: 10px ;
    padding-top: 20px;
    padding-inline: 50px;
    border-radius: 10px;
    border: none;
    background: #d3d1d1;
}
button:hover{
    background-color: #8f8585;
    box-shadow: 0px 15px 20px rgba(128, 131, 130, 0.781);
    color: #fff;
    transform: translateY(-7px);
    cursor: pointer;
}
